<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.ui.uid.desktop.privilegedtool</string>
	<key>Label</key>
	<string>com.ui.uid.desktop.privilegedtool</string>
	<key>MachServices</key>
	<dict>
		<key>com.ui.uid.desktop.privilegedtool</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/Library/PrivilegedHelperTools/com.ui.uid.desktop.privilegedtool</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/com.ui.uid.desktop.privilegedtool</string>
	</array>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier &quot;com.ui.uid.desktop.agent&quot; and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = &quot;4P645293E8&quot;)</string>
	</array>
</dict>
</plist>
